.dropdown {
  position: relative;
  &-menu {
    max-height: 0;
    position: absolute;
    z-index: -1;
    top: 100%;
    right: 0;
    width: auto;
    padding: 0;
    border: 1px solid $disabled-text;
    border-radius: $md-bd-rs;
    background: $bg-darker;
    transition: max-height $animation-delay ease-in-out, padding $animation-delay ease-in-out;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    text-overflow: ellipsis;
    &::-webkit-scrollbar {
      width: .4rem;
    }
    &::-webkit-scrollbar-track {
      background: $bg-dark;
    }
    &::-webkit-scrollbar-thumb {
      background: $primary;
      border-radius: .2rem;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: darken($primary, 10%);
    }
    &.active {
      max-height: 30rem;
      z-index: 1024;
      padding: 0.25rem 0;
    }
  }
}
