input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  border: 1px solid $primary;
  -webkit-text-fill-color: $primary;
  transition: background-color 5000s ease-in-out 5000s;
  background-color: rgba(100,100,100,.1) !important;
}
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 2px solid $primary;
  -webkit-text-fill-color: $primary;
  transition: background-color 5000s ease-in-out 5000s;
  background-color: rgba(100,100,100,.1) !important;
}
input, textarea {
  width: 100%;
  padding: .5rem 1rem;
  border: none;
  border-bottom: 2px solid $primary;
  // font-size: $size-caption;
  color: $primary-text;
  background-color: $bg-dark;
  cursor: text;
}
input:focus, textarea:focus {
  outline: none;
  border-color: $primary-text;
}
